@{
    Layout = "_Layout";
}

@model DefaultFormParamsViewModel

<partial name="_HeaderNavbarPartial"/>

<div class="flex items-center justify-center p-12 self-center">
    <div class="mx-auto w-full max-w-[550px]">
        @if (!string.IsNullOrEmpty((string?) ViewData["InputDataFilterMessage"]))
            {
                <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
                    <p class="font-bold">Be Warned</p>
                    <p>@ViewData["InputDataFilterMessage"]</p>
                </div>
            }
        <form asp-action="@ViewData["ActionName"]" asp-controller="@ViewData["ControllerName"]" method="POST">
            <div class="mb-5">
                <label for="newValue" class="mb-3 block text-base font-medium text-[#07074D]">
                    Pass your new value(s) here
                </label>
                <input
                    asp-for="NewValue"
                    id="newValue"
                    placeholder="newValue"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"/>
            </div>
            <div>
                <button class="hover:shadow-form rounded-md bg-purple-400 py-3 px-8 text-base font-semibold text-white outline-none">
                    Submit
                </button>
            </div>

            <div asp-validation-summary="All" class="text-red-400"></div>
        </form>
    </div>
</div>

<partial name="_Footer"/>