@* <!DOCTYPE html> *@
@* <html lang="en"> *@
@* <head> *@
@*     <meta charset="UTF-8"> *@
@*     <title>Default form</title> *@
@*     <link rel="stylesheet" href="../output.css"> *@
@*     <!--    navbar styles begin here--> *@
@*     <link href="https://unpkg.com/@@material-tailwind/html@latest/styles/material-tailwind.css" rel="stylesheet"/> *@
@*     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> *@
@*     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" *@
@*           integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" *@
@*           crossorigin="anonymous"/> *@
@*     <!--    navbar styles end here--> *@
@*     <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"> *@
@*     <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@@fortawesome/fontawesome-free/css/all.min.css"> *@
@* </head> *@
@* <body> *@
@{
    Layout = "_Layout";
}

@model DefaultFormParamsViewModel

<partial name="_HeaderNavbarPartial"/>

<div class="flex items-center justify-center p-12">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="mx-auto w-full max-w-[550px]">
        <form asp-action="@ViewData["ActionName"]" asp-controller="@ViewData["ControllerName"]" method="POST">
            <div class="mb-5">
                <label for="newValue" class="mb-3 block text-base font-medium text-[#07074D]">
                    Pass your new value(s) here
                </label>
                <input
                    asp-for="NewValue"
                    id="newValue"
                    placeholder="newValue"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
            </div>
            @* <div class="mb-5"> *@
            @*     <label *@
            @*             for="email" *@
            @*             class="mb-3 block text-base font-medium text-[#07074D]" *@
            @*     > *@
            @*         Email Address *@
            @*     </label> *@
            @*     <input *@
            @*             type="email" *@
            @*             name="email" *@
            @*             id="email" *@
            @*             placeholder="example@domain.com" *@
            @*             class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" *@
            @*     /> *@
            @* </div> *@
            @* <div class="mb-5"> *@
            @*     <label *@
            @*             for="subject" *@
            @*             class="mb-3 block text-base font-medium text-[#07074D]" *@
            @*     > *@
            @*         Subject *@
            @*     </label> *@
            @*     <input *@
            @*             type="text" *@
            @*             name="subject" *@
            @*             id="subject" *@
            @*             placeholder="Enter your subject" *@
            @*             class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" *@
            @*     /> *@
            @* </div> *@
            @* <div class="mb-5"> *@
            @*     <label *@
            @*             for="message" *@
            @*             class="mb-3 block text-base font-medium text-[#07074D]" *@
            @*     > *@
            @*         Message *@
            @*     </label> *@
            @*     <textarea *@
            @*             rows="4" *@
            @*             name="message" *@
            @*             id="message" *@
            @*             placeholder="Type your message" *@
            @*             class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" *@
            @*     ></textarea> *@
            @* </div> *@
            <div>
                <button class="hover:shadow-form rounded-md bg-purple-400 py-3 px-8 text-base font-semibold text-white outline-none">
                    Submit
                </button>
            </div>
            
            <div asp-validation-summary="All" class="text-red-400"></div>
        </form>
    </div>
</div>

<partial name="_Footer"/>
@* <script src="https://unpkg.com/@@material-tailwind/html@latest/scripts/collapse.js"></script> *@
@* </body> *@
@* </html> *@