<footer class="bg-blueGray-50 mt-2 fixed bottom-0 w-full">
    <div class="container mx-auto py-2">
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-6/12 px-2 mx-auto text-center">
                <div class="text-sm text-blueGray-500 font-semibold py-1">
                    xdzz-cyber 2023
                </div>
            </div>
        </div>
    </div>
</footer>