@{
    Layout = "_Layout";
}

@model Domain.TelegramBotEntities.NutrientsPlan.NutrientsPlanFormDto

<partial name="_HeaderNavbarPartial"/>
<div class="flex items-center justify-center p-12">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="mx-auto w-full max-w-[550px]">
    <form asp-action="UpdateNutrientsPlan" asp-controller="NutrientsPlan" method="POST">
        <div class="-mx-3 flex flex-row">
            <div class="px-3 w-1/2">
                <div class="mb-5">
                    <label for="fatMin" class="mb-3 block text-base font-medium text-[#07074D]">
                        Fat min value
                    </label>
                    <input
                        min="0"
                        asp-for="FatMin"
                        id="fatMin"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                </div>
            </div>
            <div class="px-3 w-1/2">
                <div class="mb-5">
                    <label for="fatMax" class="mb-3 block text-base font-medium text-[#07074D]">
                        Fat max value
                    </label>
                    <input
                        min="0"
                        asp-for="FatMax"
                        id="fatMax"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                </div>
            </div>
        </div>
        <div class="-mx-3 flex flex-row">
            <div class="px-3 w-1/2">
                <div class="mb-5">
                    <label for="carbohydratesMin" class="mb-3 block text-base font-medium text-[#07074D]">
                        Carbohydrates min
                    </label>
                    <input
                        min="0"
                        asp-for="CarbohydratesMin"
                        id="carbohydratesMin"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                </div>
            </div>
            <div class="px-3 w-1/2">
                <div class="mb-5">
                    <label for="carbohydratesMax" class="mb-3 block text-base font-medium text-[#07074D]">
                        Carbohydrates max
                    </label>
                    <input
                        min="0"
                        asp-for="CarbohydratesMax"
                        id="carbohydratesMax"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                </div>
            </div>
        </div>
        <div class="-mx-3 flex flex-row">
            <div class="px-3 w-1/2">
                <div class="mb-5">
                    <label for="proteinMin" class="mb-3 block text-base font-medium text-[#07074D]">
                        Protein min
                    </label>
                    <input
                        min="0"
                        asp-for="ProteinMin"
                        id="proteinMin"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                </div>
            </div>
            <div class="px-3 w-1/2">
                <div class="mb-5">
                    <label for="proteinMax" class="mb-3 block text-base font-medium text-[#07074D]">
                        Protein max
                    </label>
                    <input
                        min="0"
                        asp-for="ProteinMax"
                        id="proteinMax"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                </div>
            </div>
        </div>
        <div class="-mx-3 flex flex-row">
                <div class="w-full px-3 sm:w-1/2">
                  <div class="mb-5">
                    <label for="caloriesMin" class="mb-3 block text-base font-medium text-[#07074D]">
                      Calories min
                    </label>
                      <input
                          min="0"
                      asp-for="CaloriesMin"
                      id="caloriesMin"
                      class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                  </div>
                </div>
                <div class="w-full px-3 sm:w-1/2">
                  <div class="mb-5">
                    <label for="caloriesMax" class="mb-3 block text-base font-medium text-[#07074D]">
                      Calories max
                    </label>
                      <input
                          min="0"
                      asp-for="CaloriesMax"
                      id="caloriesMax"
                      class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                  </div>
                </div>
              </div>
        <div class="flex justify-center mt-4">
            <button class="bg-pink-500 shadow-form text-white rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold outline-none">
                Submit
            </button>
        </div>
        <div asp-validation-summary="All" class="text-red-400"></div>
    </form>
  </div>
</div>
<partial name="_Footer"/>

