@{
    Layout = "_Layout";
}

<partial name="_HeaderNavbarPartial"/>
<div class="py-16 bg-white">  
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
      <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
        <div class="md:5/12 lg:w-5/12">
          <img src="https://tailus.io/sources/blocks/left-image/preview/images/startup.png" alt="image" loading="lazy" width="" height="">
        </div>
        <div class="md:7/12 lg:w-6/12">
          <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">Our development is carried out by passionate developers</h2>
            <p class="m-4 text-gray-600">
                Welcome to the "Nutrients" application user manual. This manual will guide you through the various features and functionalities of the application and help you understand how to use the application effectively.
            </p>
            <p class="m-4 text-gray-600">                Interaction via Buttons: Most of the interaction with the "Nutrients" application happens via pressing the necessary buttons. To perform an action, simply press the corresponding button and you will see the result of the current operation on the screen.
                               
                Information Input: Some of the functionality in the "Nutrients" application requires you to be redirected to another page where you will be asked to provide information in a form to get the final data. This information may include your meal plan, water intake levels, and dietary preferences, among others. Simply fill in the form and press the submit button to receive your personalized results.
                               
                Navigation: The "Nutrients" application also features links to make navigation easier. These links can be found on various pages within the application and will allow you to quickly access the information or page you need.
                               
                User Interface: If you are experiencing any trouble with the user interface, we recommend changing either the environment (i.e. browser) or the resolution on your device. This can help resolve any issues you may be having and improve your overall experience with the "Nutrients" application.</p>
            <p class="m-4 text-gray-600">We hope this user manual has been helpful in guiding you through the "Nutrients" application. If you have any further questions or need additional assistance, please feel free to reach out to our support team.</p>
          @* <p class="mt-4 text-gray-600"> Nobis minus voluptatibus pariatur dignissimos libero quaerat iure expedita at? Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia.</p> *@
        </div>
      </div>
  </div>
</div>
<partial name="_Footer"/>