@{
    Layout = "_Layout";
}

@model LoginViewModel
<!-- page -->
<main
    class="mx-auto flex min-h-screen w-full items-center justify-center bg-gray-900 text-white"
>
    <!-- component -->
    <form method="post" asp-action="Login" asp-controller="Auth">
        <section class="flex w-[30rem] flex-col space-y-10">
                <div class="text-center text-4xl font-medium">Log In</div>
        
                <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
                    <input
                        asp-for="UserName"
                        placeholder="Username"
                        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none text-cyan-900"
                    />
                </div>
        
                <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
                    <input
                        asp-for="Password"
                        placeholder="Password"
                        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none text-cyan-900"
                    />
                </div>
        
                <button class="transform rounded-sm bg-indigo-600 py-2 font-bold duration-300 hover:bg-indigo-400">
                    LOG IN
                </button>

            <p class="text-center text-lg">
                No account?
                <a asp-action="Registration" class="font-medium text-indigo-500 underline-offset-4 hover:underline">Create One</a>
            </p>
            
            <div asp-validation-summary="All" class="text-red-400"></div>
        </section>
    </form>
</main>
